/*
 *         Project Name
 * agency  ___             ___
 * code    ___             ___
 * design  ___             ___
 */




/* Base Styles
==============================================================================*/
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font: 1em/1.25em Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}


/* === Structure === */
.container {
	position: relative;
	width: 90%;
	max-width: 1160px;
	margin: 0 auto;
}

.col {
	float: left;
	width: 100%;
	margin-left: 5%;
}

.size1of2 { width: 47.5%; }
.size1of3 { width: 30%; }
.size2of3 { width: 65%; }
.size1of4 { width: 21.25%; }
.size3of4 { width: 73.75%; }

.first {
	clear: both;
	margin-left: 0;
}

@media all and (max-width: 40em) {

	.size1of2,
	.size1of3,
	.size2of3,
	.size1of4,
	.size3of4 {
		width: 100%;
		margin-left: 0;
	}

}




/* Helper classes
==============================================================================*/
/* === Clearfix === */
.cf:before,
.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}


/* === Image replacement === */
.ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}


/* === Hide elements === */
.hidden {
	display: none;
	visibility: hidden;
}




/* Typography
==============================================================================*/
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}




/* Main Area
==============================================================================*/
