/*! Simple Front-end Starter */

/*------------------------------------*\
    #DEFAULTS
\*------------------------------------*/

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/**
 * Remove the gap between the follow
 * elements and the bottom of their containers
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/**
 * Responsive images
 */

img {
	max-width: 100%;
	height: auto;
}

/**
 * Remove iOS default styles from form elements
 */

input[type="text"],
input[type="button"],
input[type="submit"],
textarea {
	-webkit-appearance: none;
	border-radius: 0;
}

/**
 * Allow only vertical resizing of textareas
 */

textarea {
	resize: vertical;
}

/*------------------------------------*\
    #HELPER CLASSES
\*------------------------------------*/

/**
 * Cleafix
 */

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/**
 * Image replacement
 */

.ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

/**
 * Hide elements
 */

.hidden {
	display: none;
	visibility: hidden;
}

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	padding: 0;
	margin: 1em 0;
	border: 0;
	border-top: 1px solid #ccc;
}

/*------------------------------------*\
    #STRUCTURE
\*------------------------------------*/

.container {
	position: relative;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}