/*! Simple Front-end Template */

/* ==========================================================================
   Base styles: defaults
   ========================================================================== */

*,
*:after,
*:before,
input[type="search"] {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove the gap between the follow
 * elements and the bottom of their containers
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Responsive images
 */

img {
	max-width: 100%;
	height: auto;
}

/*
 * Remove default fieldset styles
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Helper Classes
   ========================================================================== */

/* Clearfix */

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

/* Image replacement */

.ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

/* Hide elements */

.hidden {
	display: none;
	visibility: hidden;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	padding: 0;
	margin: 1em 0;
	border: 0;
	border-top: 1px solid #ccc;
}

/* ==========================================================================
   Main Styles
   ========================================================================== */



/* ==========================================================================
   Media Queries for high resolution devices
   ========================================================================== */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {


}
